<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>UPLOADCARE_PUBLIC_KEY = "{{uploadcare_public_key}}";</script>
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
</head>
<body>
    <form method="POST">
        <input type="text" name="animal_name" placeholder="Enter the name of the animal"/>
        <input type="hidden" role="uploadcare-uploader" name="animal_image" />
        <input type="submit"/>
    </form>
</body>
</html>